VITE_API_URL=http://localhost:4301
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_WEB_CLIENT_ID=
VITE_GOOGLE_NATIVE_CLIENT_ID=
VITE_GOOGLE_ANDROID_CLIENT_ID=
VITE_GOOGLE_REDIRECT_URI=postmessage
VITE_APP_DOWNLOAD_URL=
